<div class="card card-block sameheight-item">
    <div class="title-block">
        <h3 class="title"> Formatos para Contribuyentes</h3>
    </div>




    <div class="formato-cont" id="resultado">
        <!--servicios.css-->
        <h5>Aviso para presentar dictamen fiscal e información adicional o para sustitución de contador registrado</h5>

        <ul>
            <li><a href="http://www.haciendachiapas.gob.mx/informacion/formatos-contrib/SFDE-2.pdf" target="_blank">SFDE-2</a></li>

        </ul>

        <h5>Formulario de Registro de Contribuyentes</h5>

        <ul>
            <li><a href="http://www.haciendachiapas.gob.mx/informacion/formatos-contrib/FR-1.pdf" target="_blank">FR-1</a></li>
            <li><a href="http://www.haciendachiapas.gob.mx/informacion/formatos-contrib/FR-1-Rev.pdf" target="_blank">Reverso FR-1</a></li>

        </ul>
        <h5>Formulario de Pagos Provisionales y Retenciones de Constribuciones Estatales</h5>

        <ul>
            <li><a href="http://www.haciendachiapas.gob.mx/informacion/formatos-contrib/DP-3.pdf" target="_blank">DP-3</a></li>
            <li><a href="http://www.haciendachiapas.gob.mx/informacion/formatos-contrib/DP-3Rev.pdf" target="_blank">Reverso DP-3</a></li>

        </ul>
        <h5>Anexo 1 de la Forma Fiscal DA-2, Datos Informativos de Retenciones</h5>

        <ul>
            <li><a href="http://www.haciendachiapas.gob.mx/informacion/formatos-contrib/DA-2Ax1.pdf" target="_blank">ANEXO-1</a></li>

        </ul>
        <h5>Pago de Impuesto Sobre la Renta a Entidades federativas. Régimen Intermedio</h5>

        <ul>
            <li><a href="http://www.haciendachiapas.gob.mx/informacion/formatos-contrib/15-A.pdf" target="_blank">15-A</a></li>

        </ul>

        <h5>Convenio de Colaboración Administrativa en Materia Fiscal Federal que celebra la Secretaría de Hacienda y
            Crédito Público del Estado de Chiapas</h5>

        <ul>
            <li><a href="http://www.haciendachiapas.gob.mx/marco-juridico/Estatal/informacion/Convenios/Colaboracion-administrativa/Anexo3.pdf"
                    target="_blank">ANEXO-3</a></li>

        </ul>
        <h5>Opinión Profesional del C.P.R.</h5>

        <ul>
            <li><a href="http://www.haciendachiapas.gob.mx/informacion/formatos-contrib/DEC-2.pdf" target="_blank">DEC-2</a></li>
            <li><a href="http://www.haciendachiapas.gob.mx/informacion/formatos-contrib/DEC-3.pdf" target="_blank">DEC-3</a></li>
            <li><a href="http://www.haciendachiapas.gob.mx/informacion/formatos-contrib/DEC-4.pdf" target="_blank">DEC-4</a></li>
            <li><a href="http://www.haciendachiapas.gob.mx/informacion/formatos-contrib/DEC-5.pdf" target="_blank">DEC-5</a></li>

        </ul>
        <h5>Pago del Impuesto Sobre la Renta a Entidades Federativas. Enajenación de Bienes Inmuebles</h5>

        <ul>
            <li><a href="http://www.haciendachiapas.gob.mx/informacion/formatos-contrib/15-C.pdf" target="_blank">15-C</a></li>

        </ul>
        <h5>Formulario de Declaración Anual</h5>

        <ul>
            <li><a href="http://www.haciendachiapas.gob.mx/informacion/formatos-contrib/DA-2.pdf" target="_blank">DA-2</a></li>
            <li><a href="http://www.haciendachiapas.gob.mx/informacion/formatos-contrib/DA-2Rev.pdf" target="_blank">Reverso DA-2</a></li>

        </ul>
        <h5>Constancia de Retenciones de Impuestos Estatales</h5>

        <ul>
            <li><a href="http://www.haciendachiapas.gob.mx/informacion/formatos-contrib/CR-4.pdf" target="_blank">CR-4</a></li>

        </ul>
        <h5>Anexo 2 de la Forma Fiscal DA-2, Retención de Impuestos</h5>

        <ul>
            <li><a href="http://www.haciendachiapas.gob.mx/informacion/formatos-contrib/DA-2Ax2.pdf" target="_blank">ANEXO-2</a></li>

        </ul>
        <h5>Pago del Impuesto Sobre la Renta, IVA y del IETU a Entidades Federativas, Régimen de Pequeños Contribuyentes
        </h5>

        <ul>
            <li><a href="http://www.haciendachiapas.gob.mx/informacion/formatos-contrib/15-B.pdf" target="_blank">15-B IVA y DEL IETU</a></li>

        </ul>
        <h5>Pago de Cuota del Impuesto Especial sobre Producción y Servicios por Gasolina y Diesel</h5>

        <ul>
            <li><a href="http://www.haciendachiapas.gob.mx/informacion/formatos-contrib/15-D.pdf" target="_blank">15-D Esta forma no es libre de
                    impresión</a></li>

        </ul>
        <h5>Formulario de Registro y Movimientos al Padrón Vehicular</h5>

        <ul>
            <li><a href="http://www.haciendachiapas.gob.mx/informacion/formatos-contrib/Formulario.pdf" target="_blank">FV-1</a></li>

        </ul>
        <h5>Anexo 1 de la Forma Fiscal DP-3, Datos Informativos de Retenciones</h5>

        <ul>
            <li><a href="http://www.haciendachiapas.gob.mx/informacion/formatos-contrib/DP-3Ax.pdf" target="_blank">ANEXO 1</a></li>

        </ul>
    </div>
</div>