<div class="auth-container">
    <div class="card">
        <header class="auth-header">
            <h6 class="auth-title ">Recaudación Chiapas</h6>
        </header>
        <div class="auth-content">
            <p class="text-center">Recuperar Contraseña</p>
            <p class="text-muted text-center"><small>Ingrese su correo electrónico para recuperar su contraseña.</small>
            </p>
            <div class="form-group">
                <label for="email1">Correo electrónico</label>
                <input type="email" class="form-control underlined" name="email1" id="email1"
                    placeholder="Tu correo electrónico" required="">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-primary">Recuperar</button>
            </div>
        </div>
    </div>
</div>