<div class="card card-block sameheight-item">
    <div class="title-block">
        <h3 class="title"> Constancia de No Adeudos Fiscales</h3>
    </div>
    <form>
        <div class="form-group">
            <label class="control-label">Persona</label>
            <div>
                <label>
                    <input class="radio" name="radios" type="radio" checked="checked">
                    <span>Física</span>
                </label>
            </div>
            <div>
                <label>
                    <input class="radio" type="radio" name="radios">
                    <span>Moral</span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">RFC:</label>
            <input type="text"class="form-control boxed" >
        </div>
        <div class="form-group">
            <label class="control-label">Paterno:</label>
            <input type="text"class="form-control boxed" >
        </div>
        <div class="form-group">
            <label class="control-label">Materno:</label>
            <input type="text"class="form-control boxed" >
        </div>
        <div class="form-group">
            <label class="control-label">Nombre(s):</label>
            <input type="text"class="form-control boxed" >
        </div>
        <div class="form-group">
            <label class="control-label">Razón Social:</label>
            <input type="text"class="form-control boxed" >
        </div>
        <div class="form-group">
            <label class="control-label">e-Mail:</label>
            <input type="text"class="form-control boxed" >
        </div>


        <div class="btn-group">
            <button type="button" class="btn btn-secondary">Pago</button>
            <button type="button" class="btn btn-secondary">Descargar Folio Recibo</button>
            <button type="button" class="btn btn-secondary">Descargar Constancia</button>
        </div>
    </form>
</div>