<div class="card card-block sameheight-item">
    <div class="title-block">
        <h3 class="title"> Pago de Derechos </h3>
    </div>
    <form>
        <div class="form-group">
            <label class="control-label">Pago:</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>POR EL REGISTRO DE MATRIMONIO EN LA OFICIALIA, EN DIAS Y HORAS HABILES</option>
                  <option>POR EL REGISTRO DE MATRIMONIO EN LA OFICIALIA, EN DIAS Y HORAS INHABILES</option>
                  <option>POR LA EXPEDICION DE CERTIFICADAS DE ACTAS Y/O CONSTANCIAS DE INEXISTENCIA DEL ESTADO CIVIL, CON DATOS CONCRETOS, MEDIANTE BASE DE DATOS O BÚSQUEDA MANUAL</option>
                  <option>POR LA INSCRIPCION DE DOCUMENTOS POR LOS QUE SE ADQUIERA O TRANSMITA EL DOMINIO O POSESION DE BIENES INMUEBLES O DERECHOS REALES, INCLUYENDO COMPRAVENTAS EN LAS QUE EL VENDEDOR SE RESERVE EL DOMINIO</option>
                  <option>POR LA CANCELACION DE DOCUMENTOS POR LO QUE SE CONSTITUYAN SERVIDUMBRES O USUFRUCTOS VITALICIOS</option>
                  <option>POR LA INSCRIPCION DE CONTRATOS DE CONSTITUCION DE HIPOTECAS DERIVADO DE LOS CONTRATOS DE CREDITO</option>
                  <option>POR LA INSCRIPCION DE DOCUMENTOS EN QUE CONSTEN LOS ACTOS POR DOCUMENTOS O RESOLUCIONES JUDICIALES RELATIVAS A LAS SUCESIONES, INDEPENDIENTEMENTE DE LOS DERECHOS QUE SE CAUSEN POR EL REGISTRO DE LA TRANSMISIÓN DE LOS BIENES HEREDITARIOS</option>
                  <option>POR LA INSCRIPCION DE DOCUMENTOS EN QUE CONSTEN LOS ACTOS DE CORRESPONSALIA MERCANTIL, POR SU REGISTRO O CANCELACION</option>
                  <option>CERTIFICADO DE LIBERTAD O EXISTENCIAS DE GRAVAMENES</option>
                  <option>EXPEDICION DE CEDULA CATASTRAL EN LOS DEMAS CASOS: POR PREDIO</option>
                  <option>VERIFICACION DE AVALUOS EFECTUADOS POR PERITOS AUTORIZADOS POR LA SECRETARIA GENERAL DE GOBIERNO, INMUEBLES CON VALOR DE $600,001.00 HASTA $800.000.00</option>
                  <option>VERIFICACION DE AVALUOS EFECTUADOS POR PERITOS AUTORIZADOS POR LA SECRETARIA GENERAL DE GOBIERNO, INMUEBLES CON VALOR DE $800,001.00 HASTA $1'000.000.00</option>
                  <option>VERIFICACION DE AVALUOS EFECTUADOS POR PERITOS AUTORIZADOS POR LA SECRETARIA GENERAL DE GOBIERNO, INMUEBLES CON VALOR DE $1'000,001.00 HASTA $1'500.000.00</option>
                  <option>LEGALIZACION DE FIRMAS DE DOCTOS. OFICIALES CON FIRMAS DE FUNCIONARIOS PUBLICOS</option>
                  <option>EXPEDICION DE CREDENCIAL PARA EL REGISTRO DE ACREDITACION EN EL PADRON VOLUNTARIO DE PROVEEDORES</option>
                  <option>EXPEDICION DE LICENCIAS DE CONDUCIR DE CHOFER POR 2 AÑOS</option>
                  <option>EXPEDICION DE LICENCIAS DE CONDUCIR DE AUTOMOVILISTA POR 2 AÑOS</option>
                  <option>EXPEDICION DE LICENCIAS DE CONDUCIR DE MOTOCICLISTA POR 2 AÑOS</option>
                  <option>REEXPEDICION DE LICENCIAS DE CONDUCIR DE CHOFER POR 2 AÑOS</option>
                  <option>REEXPEDICION DE LICENCIAS DE CONDUCIR DE AUTOMOVILISTA POR 2 AÑOS</option>
                  <option>REEXPEDICION DE LICENCIAS DE CONDUCIR DE CHOFER POR 3 AÑOS</option>
                  <option>REEXPEDICION DE LICENCIAS DE CONDUCIR DE CHOFER POR 4 AÑOS</option>
                  <option>REEXPEDICION DE LICENCIAS DE CONDUCIR DE CHOFER POR 5 AÑOS</option>
                  <option>SERVICIO ARMADO POR ELEMENTO DE 12 HORAS, DE LUNES A SABADO, POR MES</option>
                  <option>SERVICIO ARMADO POR ELEMENTO DE 12 HORAS, DE LUNES A DOMINGO, POR MES</option>
                  <option>SERVICIO DESARMADO POR ELEMENTO DE 12 HRS, DE LUNES A DOMINGO, POR MES</option>
                  <option>POR EXAMEN DE CONTROL DE CONFIANZA</option>
                  <option>POR EL EXAMEN DE PORTACION DE ARMA</option>
                  <option>LEGALIZACIÓN DE TÍTULOS DE GRADO</option>
                  <option>ELABORACIÓN, EXPEDICIÓN Y REGISTRO DE TÍTULO PROFESIONAL MEDIO SUPERIOR Y SUPERIOR PARTICULARES</option>
                  <option>POR LA EXPEDICION Y LEGALIZACION DE CERTIFICADOS DE ESTUDIOS DE LICENCIATURA TOTAL O PARCIAL</option>
                  <option>POR MODIFICACION, REVALIDACION, EXPEDICION DEL SEGUNDO O POSTERIORES EJEMPLARES DE CONSTANCIAS DE INSCRIPCION EN EL REGISTRO DE CONTRATISTAS DE OBRAS PUBLICAS, POR CADA SERVICIO.</option>
                  <option>REMANENTE DE RECURSOS NO EJERCIDOS (IEPC)</option>
                </select>
        </div>
        <div class="form-group">
            <label class="control-label">Número de Servicios:</label>
            <input type="text" class="form-control boxed">
        </div>
        <div class="form-group">
            <label class="control-label">CUOTA:</label>
            <input type="text" disabled class="form-control boxed" value="1300">
        </div>
        <div class="form-group">
            <label class="control-label">Importe:</label>
            <input type="text" disabled class="form-control boxed" value="1300">
        </div>
        <hr>
        <div class="form-group">
            <label class="control-label">Persona</label>
            <div>
                <label>
                    <input class="radio" name="radios" type="radio" checked="checked">
                    <span>Física</span>
                </label>
            </div>
            <div>
                <label>
                    <input class="radio" type="radio" name="radios">
                    <span>Moral</span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">RFC:</label>
            <input type="text"class="form-control boxed" >
        </div>
        <div class="form-group">
            <label class="control-label">Paterno:</label>
            <input type="text"class="form-control boxed" >
        </div>
        <div class="form-group">
            <label class="control-label">Materno:</label>
            <input type="text"class="form-control boxed" >
        </div>
        <div class="form-group">
            <label class="control-label">Nombre(s):</label>
            <input type="text"class="form-control boxed" >
        </div>
        <div class="form-group">
            <label class="control-label">Razón Social:</label>
            <input type="text"class="form-control boxed" >
        </div>
        <div class="form-group">
            <label class="control-label">e-Mail:</label>
            <input type="text"class="form-control boxed" >
        </div>


            <div class="btn-group">
                    <button type="button" class="btn btn-primary">Generar</button>
                </div>
    </form>
</div>