<div class="card card-block sameheight-item">
        <div class="title-block">
            <h3 class="title"> Consulta de Vehículos a su Nombre </h3>
        </div>
        <form>
                <div class="form-group">
                        <label class="control-label">RFC:</label>
                        <input type="text" class="form-control boxed">
                    </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary">Consultar</button>
            </div>
        </form>
    </div>