<div class="card card-block sameheight-item">
        <div class="title-block">
            <h3 class="title"> Flotillas Vehiculares </h3>
        </div>
        <form>
                <div class="form-group">
                        <label class="control-label">R.F.C</label>
                        <input type="text" class="form-control boxed">
                    </div>
                    <div class="form-group">
                            <label class="control-label">Clave</label>
                            <input type="password" class="form-control boxed">
                        </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary">Consultar</button>
            </div>
        </form>
    </div>