<div class="card card-block sameheight-item">
    <div class="title-block">
        <h3 class="title"> Pago de Licencias de Conducir </h3>
    </div>
    <form>
        <div class="form-group">
            <label class="control-label">Pago:</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>POR LA EXPEDICION DE LICENCIAS DE CONDUCIR DE CHOFER, A EXTRANJEROS QUE ACREDITEN SU LEGAL ESTANCIA EN EL PAIS POR UN AÑO</option>
                <option>POR LA EXPEDICION DE LICENCIAS DE CONDUCIR DE AUTOMOVILISTA, A EXTRANJEROS QUE ACREDITEN SU LEGAL ESTANCIA EN EL PAIS POR UN AÑO</option>
                <option>POR LA EXPEDICION DE LICENCIAS DE CONDUCIR DE MOTOCICLISTA, A EXTRANJEROS QUE ACREDITEN SU LEGAL ESTANCIA EN EL PAIS POR UN AÑO</option>
                <option>EXPEDICION DE LICENCIAS DE CONDUCIR DE CHOFER PARA SERVICIO PUBLICO POR 2 AÑOS</option>
                <option>EXPEDICION DE LICENCIAS DE CONDUCIR DE CHOFER POR 2 AÑOS</option>
                <option>EXPEDICION DE LICENCIAS DE CONDUCIR DE AUTOMOVILISTA POR 2 AÑOS</option>
                <option>EXPEDICION DE LICENCIAS DE CONDUCIR DE MOTOCICLISTA POR 2 AÑOS</option>
                <option>EXPEDICION DE LICENCIAS DE CONDUCIR DE CHOFER PARA SERVICIO PUBLICO POR 3 AÑOS</option>
                <option>EXPEDICION DE LICENCIAS DE CONDUCIR DE CHOFER POR 3 AÑOS</option>
                <option>EXPEDICION DE LICENCIAS DE CONDUCIR DE AUTOMOVILISTA POR 3 AÑOS</option>
                <option>EXPEDICION DE LICENCIAS DE CONDUCIR DE MOTOCICLISTA POR 3 AÑOS</option>
                <option>EXPEDICION DE LICENCIAS DE CONDUCIR DE CHOFER PARA SERVICIO PUBLICO POR 4 AÑOS</option>
                <option>EXPEDICION DE LICENCIAS DE CONDUCIR DE CHOFER POR 4 AÑOS</option>
                <option>EXPEDICION DE LICENCIAS DE CONDUCIR DE AUTOMOVILISTA POR 4 AÑOS</option>
                <option>EXPEDICION DE LICENCIAS DE CONDUCIR DE MOTOCICLISTA POR 4 AÑOS</option>
                <option>EXPEDICION DE LICENCIAS DE CONDUCIR DE CHOFER PARA SERVICIO PUBLICO POR 5 AÑOS</option>
                <option>EXPEDICION DE LICENCIAS DE CONDUCIR DE CHOFER POR 5 AÑOS</option>
                <option>EXPEDICION DE LICENCIAS DE CONDUCIR DE AUTOMOVILISTA POR 5 AÑOS</option>
                <option>EXPEDICION DE LICENCIAS DE CONDUCIR DE MOTOCICLISTA POR 5 AÑOS</option>
                <option>REEXPEDICION DE LICENCIAS DE CONDUCIR DE CHOFER PARA SERVICIO PUBLICO POR 2 AÑOS</option>
                <option>REEXPEDICION DE LICENCIAS DE CONDUCIR DE CHOFER POR 2 AÑOS</option>
                <option>REEXPEDICION DE LICENCIAS DE CONDUCIR DE AUTOMOVILISTA POR 2 AÑOS</option>
                <option>REEXPEDICION DE LICENCIAS DE CONDUCIR DE MOTOCICLISTA POR 2 AÑOS</option>
                <option>REEXPEDICION DE LICENCIAS DE CONDUCIR DE CHOFER PARA SERVICIO PUBLICO POR 3 AÑOS</option>
                <option>REEXPEDICION DE LICENCIAS DE CONDUCIR DE CHOFER POR 3 AÑOS</option>
                <option>REEXPEDICION DE LICENCIAS DE CONDUCIR DE AUTOMOVILISTA POR 3 AÑOS</option>
                <option>REEXPEDICION DE LICENCIAS DE CONDUCIR DE MOTOCICLISTA POR 3 AÑOS</option>
                <option>REEXPEDICION DE LICENCIAS DE CONDUCIR DE CHOFER PARA SERVICIO PUBLICO POR 4 AÑOS</option>
                <option>REEXPEDICION DE LICENCIAS DE CONDUCIR DE CHOFER POR 4 AÑOS</option>
                <option>REEXPEDICION DE LICENCIAS DE CONDUCIR DE AUTOMOVILISTA POR 4 AÑOS</option>
                <option>REEXPEDICION DE LICENCIAS DE CONDUCIR DE MOTOCICLISTA POR 4 AÑOS</option>
                <option>REEXPEDICION DE LICENCIAS DE CONDUCIR DE CHOFER PARA SERVICIO PUBLICO POR 5 AÑOS</option>
                <option>REEXPEDICION DE LICENCIAS DE CONDUCIR DE CHOFER POR 5 AÑOS</option>
                <option>REEXPEDICION DE LICENCIAS DE CONDUCIR DE AUTOMOVILISTA POR 5 AÑOS</option>
                <option>REEXPEDICION DE LICENCIAS DE CONDUCIR DE MOTOCICLISTA POR 5 AÑOS</option>
                <option>POR LA REPOSICIÓN DE LICENCIA DE CONDUCIR POR PÉRDIDA O EXTRAVÍO, DE LAS CONTEMPLADAS EN FRACCIONES XI A LA XIX DEL PRESENTE ARTICULO</option>
                <option>POR LA EXPEDICIÓN DE CONSTANCIAS DE ANTIGÜEDAD DE LICENCIA DE CONDUCIR, INCLUYENDO SU BUSQUEDA</option>
                <option>POR REPOSICIÓN DE LICENCIAS DE CONDUCIR CON VIGENCIA PERMANENTE POR PÉRDIDA O ROBO, DE CHOFER PARA SERVICIO PUBLICO</option>
                <option>POR REPOSICIÓN DE LICENCIAS DE CONDUCIR CON VIGENCIA PERMANENTE POR PÉRDIDA O ROBO, DE CHOFER</option>
                <option>POR REPOSICIÓN DE LICENCIAS DE CONDUCIR CON VIGENCIA PERMANENTE POR PÉRDIDA O ROBO, DE AUTOMOVILISTA</option>
                <option>POR REPOSICIÓN DE LICENCIAS DE CONDUCIR CON VIGENCIA PERMANENTE POR PÉRDIDA O ROBO, DE MOTOCICLISTA</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Número de Servicios:</label>
            <input type="text" class="form-control boxed">
        </div>
        <div class="form-group">
            <label class="control-label">CUOTA:</label>
            <input type="text" disabled class="form-control boxed" value="1300">
        </div>
        <div class="form-group">
            <label class="control-label">Importe:</label>
            <input type="text" disabled class="form-control boxed" value="1300">
        </div>
        <hr>
        <div class="form-group">
            <label class="control-label">Persona</label>
            <div>
                <label>
                    <input class="radio" name="radios" type="radio" checked="checked">
                    <span>Física</span>
                </label>
            </div>
            <div>
                <label>
                    <input class="radio" type="radio" name="radios">
                    <span>Moral</span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">RFC:</label>
            <input type="text" class="form-control boxed">
        </div>
        <div class="form-group">
            <label class="control-label">Paterno:</label>
            <input type="text" class="form-control boxed">
        </div>
        <div class="form-group">
            <label class="control-label">Materno:</label>
            <input type="text" class="form-control boxed">
        </div>
        <div class="form-group">
            <label class="control-label">Nombre(s):</label>
            <input type="text" class="form-control boxed">
        </div>
        <div class="form-group">
            <label class="control-label">Razón Social:</label>
            <input type="text" class="form-control boxed">
        </div>
        <div class="form-group">
            <label class="control-label">e-Mail:</label>
            <input type="text" class="form-control boxed">
        </div>


        <div class="btn-group">
            <button type="button" class="btn btn-primary">Generar</button>
        </div>
    </form>
</div>