<div class="card card-block sameheight-item">
    <div class="title-block">
        <h3 class="title"> Presupuesto de Autos Nuevos </h3>
    </div>
    <form>
        <div class="form-group">
            <label class="control-label">Indique su nombre:</label>
            <input type="text" class="form-control boxed">
        </div>
        <div class="form-group">
            <label class="control-label">Persona</label>
            <div>
                <label>
                    <input class="radio" name="radios" type="radio" checked="checked">
                    <span>Física</span>
                </label>
            </div>
            <div>
                <label>
                    <input class="radio" type="radio" name="radios">
                    <span>Moral</span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">La unidad se considera:</label>
            <div>
                <label>
                    <input class="radio" name="radios" type="radio" checked="checked">
                    <span>Automovíl</span>
                </label>
            </div>
            <div>
                <label>
                    <input class="radio" type="radio" name="radios">
                    <span>Camión</span>
                </label>
            </div>
        </div>
        <label class="control-label">Fecha de facturación:</label>
        <div class="form-group">
            <label class="control-label">Año:</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option selected>2019</option>
                <option>2018</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Mes:</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>Enero</option>
                <option>Febrero</option>
                <option>Marzo</option>
                <option>Abril</option>
                <option>Mayo</option>
                <option>Junio</option>
                <option>Julio</option>
                <option>Agosto</option>
                <option>Septiembre</option>
                <option selected>Octubre</option>
                <option>Noviembre</option>
                <option>Diciembre</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Día:</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
                <option>25</option>
                <option>26</option>
                <option>27</option>
                <option>28</option>
                <option>29</option>
                <option>30</option>
                <option>31</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Valor del vehículo:</label>
            <input type="text" class="form-control boxed">
        </div>
        <div class="form-group">
            <label class="control-label">Modelo:</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>2020</option>
                <option selected>2019</option>
                <option>2017</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Capacidad:</label>
            <input type="text" class="form-control boxed">
        </div>
        <div class="form-group">
            <select class="form-control" id="exampleFormControlSelect1">
                <option selected>Pasajeros</option>
                <option>Kilogramos</option>
                <option>Toneladas</option>
                <option>Metros Cúbicos</option>
                <option>Litros</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Clave Vehicular:</label>
            <input type="text" class="form-control boxed">
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Calcular</button>
        </div>
    </form>
</div>

