<div class="card card-block sameheight-item" style="height: 726px;">
        <div class="title-block">
            <h3 class="title"> Refrendo o Cambio de Placas </h3>
        </div>
        <form>
            <div class="form-group">
                <label class="control-label">Serie (últimas 5 posiciones):</label>
                <input type="text" class="form-control boxed">
            </div>
            <div class="form-group">
                <label class="control-label">Modelo:</label>
                <input type="password" class="form-control boxed">
            </div>
            <div class="form-group">
                <label class="control-label">R.F.C.:</label>
                <input type="text" class="form-control boxed">
            </div>
            <div class="form-group">
                <label class="control-label">Placa:</label>
                <input type="text" class="form-control boxed">
            </div>
            <div>
                    <label>
                        <input class="radio squared" name="squared-radios" checked="checked" type="radio">
                        <span>Donar $15 a la Cruz Roja</span>
                    </label>
                </div>
                <div class="btn-group">
                        <button type="button" class="btn btn-secondary">Pagos 2018 y Anteriores</button>
                        <button type="button" class="btn btn-secondary">Liquidación 2019</button>
                        <button type="button" class="btn btn-secondary">Recibo oficial Electrónico 2019</button>
                    </div>
            <!-- <div class="form-group">
                <label class="control-label">Static control</label>
                <p class="form-control-static boxed">email@example.com</p>
            </div>
            <div class="form-group">
                <label class="control-label">Readonly Input</label>
                <input type="text" readonly="readonly" class="form-control boxed" value="Readonly input text">
            </div>
            <div class="form-group">
                <label class="control-label">Textarea</label>
                <textarea rows="3" class="form-control boxed"></textarea>
            </div> -->
        </form>
    </div>